<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>DisplayServlet</servlet-name>
  	<display-name>DisplayServlet</display-name>
  	<description>This is a smaple example for a Maven Servlet</description>
  	<servlet-class>com.denext.DisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DisplayServlet</servlet-name>
  	<url-pattern>/show</url-pattern>
  </servlet-mapping>
</web-app>
